*{
	margin:0;
	padding: 0;
}
ol{
	padding-left: 20px;
}
ul{
	list-style: none;
}
body{
	overflow: hidden;
}
#leftCode,
#rightCode{
	padding: 15px;
	box-sizing: border-box;
}
#rightCode{
	padding: 10px 15px;
}
#md{
	padding: 15px;
	line-height: 26px;
}
#md hr{
	margin-bottom: 15px;
	margin-top: 10px;
}
.box{
 	position:fixed;
	left:40px;
	top:0;
	bottom:0;
	margin:auto;	
	width:40%;
	height:90vh;
	z-index: 0;
}